
* {
    top: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    align-items: center;
}

.trybewarts-login {
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
}

#container {
    /* display: flex; */
    justify-content: flex-end;
    border: 2px red solid;
}

main {
    display: flex;
}

#evaluation-form {
    display: flex;
    width: 675px;
}

